// Body
$body-bg:  #FEF7F7;

// Typography
$font-family-sans-serif: 'Lora', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary : rgb(127, 78, 145);
$secondary : rgb(46, 19, 58);
$warning : rgb(245, 197, 113);


// $table-bg : #E5DCE9;

// $table-border-color: $primary;
// $danger : #E19381;
// $success : #E77CD9;

// $dark : #212121;
// $white : #F6F4F5;



